.investment-table {
    .table th,td,th {
        vertical-align: middle !important;
    }

    td {
        .btn-primary {
            background-color: #50c168;
            border: 1px solid #50c168;
            color: white;
        }
    }
}


